*{font font-family: Helvetica;
}
 
#baner {
    background-color:rgb(31, 37, 41);
    height:150px;
    color: white;
    font-size: 27pt;
    text-align:center;
 
}
 
#Menu {
    background-color: #c9d982;
    height:450px;
    width: 20%;
    float:left;
}
#Treść {
    background-color:#d9cc82;
    height:450px;
    width:*;
}
#stopka{
    height:40px;
    font-size:14px;
    background-color: #c9afaf;
    font-size:
    27pt;
   
}
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
 
}
ul a{
    text-decoration: none;
    display:block;
    background-color:rgb(100,61,49);
    color:white;
    width: 150px;
    margin:40px;
    padding: 5px;
    text-align:center;
}
ul a:hover{
    color:red;
   
}